[submodule "hw/02"]
	path = hw/02
	url = git@github.com:snu-sf-class/pp201602-hw-02.git
[submodule "hw/03"]
	path = hw/03
	url = git@github.com:snu-sf-class/pp201602-hw-03.git
[submodule "hw/04"]
	path = hw/04
	url = https://github.com/snu-sf-class/pp201602-hw-04
[submodule "hw/05"]
	path = hw/05
	url = git@github.com:snu-sf-class/pp201602-hw-05.git
[submodule "hw/06"]
	path = hw/06
	url = git@github.com:snu-sf-class/pp201602-hw-06.git
[submodule "hw/04_new"]
	path = hw/04_new
	url = git@github.com:snu-sf-class/pp201602-hw-../04_new.git
